# Rename the file to 'config.env' or whatever you want according to the config.py file path
# ...
# dotenv_path = Path(BASE_DIR / "config.env")
# ...

TELEGRAM_TOKEN="xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
TELEGRAM_VOICE_CHAT_LINK="rtmps://dc4-1.rtmp.t.me/s/"
TELEGRAM_VOICE_CHAT_KEY="xxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxxx"

STREAM_URL="http://icecast2/live"
STREAM_STATUS="http://icecast2/status-json.xsl?mount=/live"
GOOGLE_CALENDAR_ID="xxxxxxxxxxxx@group.calendar.google.com"

ADMINS="xxxxxxxx xxxxxxxx xxxxxxxx"
SUPPORT="xxxxxxxx xxxxxxxx xxxxxxxx"
