# Auto DJ configuration file
# Liquid Soap 2.1.4

# Icecast
icecast_host        = 'https://onair.example.com'
icecast_port        = 80
icecast_user        = 'source'
icecast_password    = 'secret'
icecast_name        = 'Some name of radio station'
icecast_description = 'Some description about the radio station'
icecast_url         = 'https://onair.example.com'

# Broadcast
onair_port     = 8000
onair_user     = 'source'
onair_password = 'secret'

playlist_live_path = '/radio/music/live'
playlist_rock_path = '/radio/music/rock'
